* {
    margin: 0;
    padding: 0;
    border: 0px;
    font-weight: normal;
}

.tituloSweets {
    color: #ee588a;
    text-shadow: 3px 3px 5px #d1105a;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    justify-content: center;
    background-image: url("../recursos/bannerSweets.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.dosecsweets {
    width: 50%;
    height: auto;
    padding: 10px;
}

.textosweets {
    font-size: 30px;
    color: lightcoral;
}

.contenido {
    display: flex;
    align-items: center;
    margin: 20px
}

.imagenes_delos_sweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.sweets img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.sweets h1 {
    text-align: center;
    display: colum;
    margin-top: 10px;
    font-size: 20px;
    color: palevioletred;
}

.boton-regreso {
    display: flex;
    position: fixed;
    background-color: white;
    border-radius: 20px;
}

.boton-regreso a img {
    width: 100px;
}

.boton-regreso {
    display: flex;
    position: fixed;
    background-color: white;
    border-radius: 20px;
}

.boton-regreso a img {
    width: 100px;
}